.blog {
  width: 810px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 20px;
  background-color: var(--c-iron);
}

.title {
  text-align: center;
  display: block;
  margin-bottom: 15px;
}

.blogList {
  display: flex;
  flex-direction: column;
  gap: 25px;
  list-style-type: none;
}

.listItem {
  height: 70px;
  background-color: var(--c-cosmos);
}