.news {
  padding-top: 20px;
  padding-left: 25px;
  padding-bottom: 30px;
  width: 300px;
  background-color: var(--c-iron);
  text-align: center;
}

.title {
  display: block;
  margin-bottom: 15px;
}

.newsList {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.listItem {
  height: 110px;
  background-color: var(--c-periwinkle);
}